# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
*.opensdf
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Visual Studio
.vs/
*.user
*.VC.db
*.VC.opendb

# Rider
.idea/

# VS Code
.vscode/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Unreal Intermediate files
FileOpenOrder/
EditorSettings.ini
AssetRegistry.bin

# Cache
[Cc]ache/
cache/
[Tt]emp/
temp/

# Mac
.DS_Store
._*

# Linux
*~
.directory

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
